<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Budget</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Personal Budget</h1>
        <p>Personal Budget is an API used to read, create, update and delete envelopes.</p>
    </header>
    <main>
        <div id="envelopes">
            <% for (let i = 0; i < envelope.length; i++) { console.log(envelope[i]) %>
                <div class="envelope">
                    <p> <%= envelope[i].title %> </p>
                    <p> $<%= envelope[i].budget %> </p>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>
