body {
    background-color: #041424;
    color: white;
    margin-right: 15%;
    margin-left: 15%;
}

header {
    border-bottom: solid 1px gray;
}

.envelope {
    background-color: #04142470;
    border: solid 1px gray;
    margin: 5px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;
}
